{% extends 'base.html.twig' %}

{% block title %}New Transport{% endblock %}

{% block body %}
    <h1>Create new Transport</h1>

    {{ include('transport_front/_form.html.twig') }}
    <a href="{{ path('app_transport_front_index') }}" class="btn btn-warning btn-sm">Back to list</a>

{% endblock %}
