{% extends 'base_back.html.twig' %}

{% block title %}New Transport{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create New Transport</h4>
                    {{ include('transport/_form.html.twig') }}
                    <a href="{{ path('app_transport_index') }}" class="btn btn-warning btn-sm mt-3">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
